{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<title>{% block title %}E-sport Kurs{% endblock %}</title>
<!-- CSS -->
<link rel="stylesheet" href="{% static '/scss/pages/pages.css' %}" type="text/css">

<div class="page openhours">
    <!-- COVER -->
    <div class="cover" id="cover">
        <!-- ALL COVER CONENT -->
        <div class="content">
        <!-- COVER SECTION 1 -->
        <div class="cover-section1">
            <!-- ALL COVER TEXT -->
            <div class="text">
                <h1 class="cover-h1">E-sport Kurs</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}